.headerWrapper {
  display: flex;
  justify-content: center;
  z-index: 1000;
  width: 100vw;
  height: 10vh;
  position: fixed;
  top: 0;
  background: #fffded; 
}

.websiteName {
  font-family: var(--font-playfair);
  font-size: clamp(2.25rem, 5vw, 3.5rem);
}
