.navWrapper {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  min-height: 70vh;
  width: 10vw;
  justify-content: center;
  align-items: center;

  .navLink {
    text-decoration: none;
    color: black;
  }
  
  .navItem {
    list-style: none;
    text-align: center;
    font-weight: 500;
  }
}

