.feedList{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  min-height: 70vh;
  width: 10vw;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  
  .feedLink {
    text-decoration: none;
    color: black;
    text-align: center;
  }
  .feedTitle {
    font-size: 1em;
    padding: 4px 8px;
  }
}